<!doctype html>
<html>
<body>

<form action="{{ redirectlink }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    <b>{{ form.name.label }}</b><br>
    {{ form.name(size=1) }}
  </p>
  <p>
    <b>{{ questiontext }}</b><br><br>
    {{ form.search(onkeyup="filter()", placeholder="Search...") }}<br>
    {{ form.choice(size=10) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<!--Script based on a modified example from W3 schools (https://www.w3schools.com/howto/howto_js_filter_dropdown.asp)-->
<script>
function filter() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("searchbar");
  filter = input.value.toUpperCase();
  div = document.getElementById("selector");
  a = div.getElementsByTagName("option");
  for (i = 0; i < a.length; i++) {
    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

</body>
</html>
