<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

body{
    text-align: center;
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #0017d9;
    font-size: 2.5em;
}

</style>




<div class="block1">
<h1>Welcome to Survey</h1>
</div>


<div class="block2">
    <label>My name is </label>
<select>
  <option value="Jared">Jared</option>
  <option value="Kalie">Kalie</option>
  <option value="Kyle">Kyle</option>
  <option value="Iba">Iba</option>
  </select>
</div>


<div class="block3">
<h2>Selections:</h2>
</div>



<div class="block4">
<label class="container">Jared
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

    <br />

<label class="container">Kalie
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

    <br />

<label class="container">Kyle
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

    <br />

<label class="container">Iba
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
    <br />
    <br />
</div>

<div class="block5">
<button type="button">Submit</button>
</div>




</html>
